html {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 24vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile--card {
  height: 90%;
  width: 13vw;
}
.profile--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vh;
}

img {
  width: 140px;
  height: 140px;
  position: relative;
  right: -20%;
  border-radius: 15px;
}

h2 {
  margin: 27px 0 0 0;
  text-align: center;
  font-size: 2rem;
  color: #4E5150;
  font-weight: bold;
}

p {
  text-align: center;
  color: #A9A9A9;
  font-weight: 400;
}

article {
  width: 100px;
  height: 60px;
  text-align: center;
  background-color: #E5E5E5;
  margin: 0 15px;
  border-radius: 12px;
  padding-top: 15px;
  color: #BDBDBD;
  font-size: 14px;
  line-height: 22px;
}

span {
  font-size: 18px;
  color: #4E5150;
  font-weight: bold;
}

main {
  width: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main--container-grid {
  width: 55%;
  height: 65%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 300px 25px 300px 25px 300px;
  -ms-grid-columns: 300px 25px 300px 25px 300px;
      grid-template: repeat(3, 300px)/repeat(3, 300px);
  gap: 25px;
}

.item1 {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 1;
  grid-column: 1/1;
  border-radius: 15px;
  width: auto;
  height: auto;
}
.item1 img {
  width: 300px;
  height: 300px;
  right: 0;
}

.item2 {
  width: 630px;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: auto;
  height: auto;
}
.item2 img {
  width: 627px;
  height: 300px;
  right: 0;
}

.item3 {
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.item3 img {
  width: 625px;
  height: 300px;
  right: 0;
}

.item4 {
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.item4 img {
  width: 300px;
  height: 627px;
  right: 0;
}

.item5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: 3/1;
}
.item5 img {
  width: 300px;
  height: 300px;
  right: 0;
}

.item6 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: 3/2;
}
.item6 img {
  width: 300px;
  height: 300px;
  right: 0;
}